<nav>
<ul>
<li><%= link_to 'Cookbooks', cookbooks_path %></li>
<li><%= link_to 'New Cookbooks', new_cookbook_path %></li>
<li><%= link_to 'Recipes', recipes_path %></li>
<li><%= link_to 'New Recipes', new_recipe_path %></li>
</ul>
</nav>